/lambdaHourlyData/boto3
/lambdaHourlyData/dateutil
/lambdaHourlyData/certifi
/lambdaHourlyData/botocore
/lambdaHourlyData/requests
/lambdaHourlyData/s3transfer
/lambdaHourlyData/pandas
/lambdaHourlyData/numpy
/lambdaHourlyData/tzdata
/lambdaHourlyData/urllib3
/lambdaHourlyData/bin
/lambdaHourlyData/jmespath
/lambdaHourlyData/pytz
/lambdaHourlyData/idna
/lambdaHourlyData
